/regstream-*.bin
/decode-ar0144
/decode-ar052x
/decode-mx6dl
/decode-mx6q
/decode-mx8m
/decode-tw99x0
/decode-wrapper
/registers-*.inc.c
/registers-*.inc.h
/symbols-ar0144.h
/symbols-ar052x.h
/symbols-mx6dl.h
/symbols-mx6q.h
/symbols-mx8m.h
/symbols-tw99x0.h
